@page
@model ActividadEvaluableUT8RazorPages.Pages.Logias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logia[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logia[0].description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Logia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.logia_id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.logia_id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.logia_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
